node {
	fill-color: grey;
	size: 30px;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}

node.room {
    fill-color: yellow;
}

node.exit {
    fill-color: green;
}

node.path {
    fill-color: red;
}